{% extends "index/index.html" %}
{% block content %}
    <div class=container>
         <h1>Category</h1>
        {%for category in categories%}
        <figure style="display:inline-block;text-align:center;height:80px;width:120px;padding:20px;10px;10px;20px">
            <a href="/product_list/categoryId={{category.id}}">   <!-- .replace(" ", "").casefold() -->
                <img src="{{category.iconURL}}" alt="{{category.categoryName}}" style="height:70px;width:60px; padding-bottom:10px"></img>
                <figcaption style="font-size:12px;">{{category.categoryName}}</figcaption>
            </a>
        </figure>
        {% endfor %}
    </div>
{% endblock %}