<div class="row img-rounded text-capitalize" style="padding:0px 0px 10px 0px;text-align:justify;">
    <hr><small>
<div class="col-md-2">
    <span>© Carousellllll 2021</span>
</div>
<div class="col-md-1">
    <span>幫助中心</span>
</div>
<div class="col-md-1">
    <span>聯絡我們</span>
</div>
<div class="col-md-1">
    <span>媒體</span>
</div>
<div class="col-md-1">
    <span>公司職缺</span>
</div>
<div class="col-md-2">
    <span>成為我的廣告合作夥伴</span>
</div>
<div class="col-md-1">
    <span>使用條款</span>
</div>
<div class="col-md-1">
    <span>隱私政策</span>
</div>

</div>
